body {
    background-color: #00d9ff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.contenedor {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 10px 30px;
    width: 300px;
}

.contenedor h1 {
    font-size: 23px;
    text-align: center;
}

.cantidad {
    margin-top: 30px;
}

.cantidad input {
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 5px;
    height: 30px;
    outline: none;
    width: 290px;
}

.cantidad input:focus {
    outline: 1px solid #000;
}

.cantidad input::placeholder {
    color: #000;
    font-weight: 500;
}

.dea {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.de select, .a select {
    border: 2px solid #222;
    border-radius: 3px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    height: 35px;
    width: 80px;
}

.dea p {
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 2px;
    text-shadow: 0 0 1px;
}

.dea i {
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    text-shadow: 0 0 2px;
}

#resultado {
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.boton {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.boton button {
    background-color: #00d9ff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    height: 32px;
    width: 100%;
}

.boton button:hover {
    background-color: #00798f;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .contenedor {
        margin-top: 200px;
    }
}